<h1 mat-dialog-title class="titulo-cardapio">Cardapio</h1>
<div mat-dialog-content class="container-dialog">
  <div class="container-cardapio">
    <p class="paragrafo-item-cardapio">
      Salada: Pepino e tomate em rodelas/Salada jardineira
    </p>
    <p class="paragrafo-item-cardapio">Prato Principal: Pernil Grelhado</p>
    <p class="paragrafo-item-cardapio">Prato Ovolacto: Lasanha de berinjela</p>
    <p class="paragrafo-item-cardapio">Guarnição: Lasanha de berinjela</p>
    <p class="paragrafo-item-cardapio">Acompanhamentos: Lasanha de berinjela</p>
    <p class="paragrafo-item-cardapio">Sobremesa: Lasanha de berinjela</p>
    <p class="paragrafo-item-cardapio">Suco: Lasanha de berinjela</p>
  </div>

  <button mat-raised-button class="btn-entrarFila" (click)="closeDialog()">
    Entrar na Fila
  </button>
</div>
