<mat-toolbar class="toolbar">
  <img class="img-toolbar" src="assets/header.png" alt="" />
</mat-toolbar>

<section class="section-principal">
  <div class="container-imagem-logo">
    <img class="logo-ruFila" src="assets/logo.png" alt="" />
  </div>
  <div class="card-dados">
    <div class="container-input">

      <mat-form-field appearance="legacy" class="form-input">
        <mat-label>Matricula</mat-label>
        <input matInput placeholder="Matricula" />
      </mat-form-field>
      <mat-form-field appearance="legacy" class="form-input">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" />
      </mat-form-field>
    </div>

    <button class="btn-menu" mat-raised-button (click)="rotaFilaAluno()">CADASTRO</button>
  </div>
  
  <app-botao-voltar [rota]='rotaVoltar'></app-botao-voltar>
</section>

<footer class="container-footer">
  <img class="imagem-footer" src="assets/footer.png" alt="" />
</footer>
