<section class="section-principal">
    <div class="container-imagem-logo">
      <img class="logo-ruFila" src="assets/logo.png" alt="" />
    </div>
    <button
    class="btn-menu"
    mat-raised-button
    (click)="voltar()"
  >
    <- Voltar
  </button>
    <div class="card-dados">
      <div class="container-input">

            <mat-form-field appearance="legacy" class="form-input" formControlName="nome" >
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" [(ngModel)]="nome" />
              </mat-form-field>

      </div>
  
      <button class="btn-menu" mat-raised-button (click)="onCadastraRestaurante(nome)">CADASTRAR</button>
    </div>
  </section>