/* .container-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.botao-menu {
  margin-left: 24px;
} */

.toolbar {
  background: transparent;
  /* height: 10rem; */
  width: 100%;
}

.img-toolbar {
  width: 100%;
  object-fit: cover;
  position: absolute;
  margin-left: -1rem;
}

.container-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imagem-footer {
  width: 100%;
}

.section-principal {
  height: 100%;
  /* margin-top: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40rem;

  /* background: pink; */
}

.container-imagem-logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2rem;
  /* justify-content: space-between; */
}

/* .logo-ufba {
  margin-top: -5rem;
  width: 13rem;
} */

.logo-ruFila {
  margin-top: -7rem;

  width: 13rem;
}

.container-menu {
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.btn-menu {
  background: #2644ea;
  border-radius: 0.6rem;
  width: 15rem;
  height: 3rem;
  color: #fefefe;

  font-family: "Poppins";
  line-width: 3rem;
}
