<mat-toolbar class="toolbar">
  <!-- <div class="container container-menu" id="container-menu">
    <span (click)="rotaTelaPrincipal()" >ru-fila</span>
        
    <div class="container" >
        <button mat-raised-button (click)="rotaCriaFuncionario()" >Cadastrar Funcionário</button>
        <button mat-raised-button class="botao-menu"  (click)="rotaCriaAluno()">Cadastrar Aluno</button>
    </div>
        
    </div> -->
  <img class="img-toolbar" src="assets/header.png" alt="" />
</mat-toolbar>

<section class="section-principal">
  <div class="container-imagem-logo">
    <img class="logo-ufba" src="assets/logo-ufba.png" alt="" />
    <img class="logo-ruFila" src="assets/logo.png" alt="" />
  </div>
  <div class="container-menu">
    <button class="btn-menu" (click)="rotaCriaAluno()" mat-raised-button>ALUNO</button>
    <button class="btn-menu" (click)="rotaCriaFuncionario()" mat-raised-button>FUNCIONARIO</button>
  </div>
</section>

<footer class="container-footer">
  <img class="imagem-footer" src="assets/footer.png" alt="" />
</footer>
