.toolbar {
  background: transparent;
  width: 100%;
}

.img-toolbar {
  width: 100%;
  object-fit: cover;
  position: absolute;
  margin-left: -1rem;
}

.container-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imagem-footer {
  width: 100%;
}

.section-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40rem;
}

.container-imagem-logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1rem;
  margin-top: -2rem;
}

.logo-ufba {
  margin-top: -5rem;
  width: 10rem;
}

.logo-ruFila {
  width: 13rem;
  margin-top: -1rem;
}

.container-menu {
  margin-top: -14rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.btn-menu {
  background: #2644ea;
  border-radius: 0.6rem;
  width: 15rem;
  height: 3rem;
  color: #fefefe;

  font-family: "Poppins";
  line-width: 3rem;
}

@media (max-height: 568px) {
  .section-principal {
    height: 25rem;
  }

  .logo-ufba {
    width: 8rem;
  }

  .logo-ruFila {
    width: 8rem;
  }

  .container-menu {
    gap: 2.5rem;
  }

  .btn-menu {
    width: 10rem;
    height: 2rem;
    font-size: 0.7rem;
  }
}

@media (max-height: 812px) {
  .section-principal {
    height: 35rem;
  }

  .logo-ufba {
    margin-top: -7rem;
    width: 12rem;
  }

  .logo-ruFila {
    width: 12rem;
  }

  .container-menu {
    gap: 2.5rem;
    /* margin-top: -1rem; */
  }

  .btn-menu {
    width: 13rem;
    height: 3rem;
    font-size: 0.9rem;
  }
}
